<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="backdrop-noimage"></div>
        <% if (errorMessage) { %> 
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %> 
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>" autofocus type="email" name="email" id="email" value="<%= userInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>" type="password" name="password" id="password" value="<%= userInput.password %>">
            </div>
            <div class="button-container margin-top">
                <button class="btn btn-primary" type="submit">Login</button>
                <a class="btn btn-secondary" href="/reset">Reset Password</a>
            </div>
            <input type="hidden" name="_csrf" value="<%=  csrfToken %>">
        </form>
    </main>
<%- include('../includes/end.ejs') %>