<%- include('../includes/head.ejs') %>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="backdrop-noimage"></div>
        <% if (errorMessage) { %> 
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %> 
        <form class="reset-form" action="/reset-password" method="POST">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="password">Confirm Password</label>
                <input type="password" name="confirm-password" id="confirm-password">
            </div>
            <input type="hidden" name="_csrf" value="<%=  csrfToken %>">
            <input type="hidden" name="userId" value="<%=  userId %>">
            <input type="hidden" name="passwordToken" value="<%=  passwordToken %>">
            <button class="btn btn-primary" type="submit">Update Password</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>