    <%- include('../includes/head.ejs') %>
   <%- include('../includes/navigation.ejs') %>
    <div class="backdrop"></div>
    <main>
        <% if (errorMessage) { %> 
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %> 
        <form class="reunion-form" action="/admin/<% if (editing) { %>edit-reunion<% } else { %>add-reunion<% } %>" method="POST" enctype="multipart/form-data">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if (editing || hasError) { %><%= reunion.title %><% } %>" />
            </div>
            <div class="form-control">
                <label for="year">Year</label>
                <input type="number" name="year" id="year" step="1" value="<% if (editing || hasError) { %><%= reunion.year %><% } %>">
            </div>
            <div class="form-control">
                <label for="images">Images</label>
                <input type="file" name="images" id="images" multiple>
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"><% if (editing || hasError) { %><%= reunion.description %><% } %></textarea>
            </div>
            <div class="button-container">
                <button class="btn btn-primary" type="submit"><% if (editing) { %>Update Reunion<% } else { %>Add Reunion<% } %> </button>
                <a href="/admin/reunions" class="btn btn-secondary">Cancel</a>
            </div>
            <input type="hidden" name="_csrf" value="<%=  csrfToken %>">
            <% if (editing) { %>
              <input type="hidden" name="reunionId" value="<%= reunion._id %>">
            <% } %>
        </form>
    </main>
<%- include('../includes/end.ejs') %>