<header class="main-header sticky">
  <nav class="main-header__nav">
    
      <button class="nav-btn open-btn">
        <i class="fas fa-bars"></i>
      </button>

      <div class="nav nav-blue">
        <div class="nav nav-red">
          <div class="nav nav-white">
            <button class="nav-btn close-btn">
              <i class="fas fa-times"></i>
            </button>

            <img src="/images/reunion_logo.png" alt="logo" class="logo">

            <ul class="list">
              <% if (isAuthenticated) { %>
              <li class="main-header__item">
                <a class="<%= path === '/reunions' ? 'active' : '' %>" href="/reunions"
                  >Reunions</a
                >
              </li>
              <li class="">
                <a
                  class="<%= path === '/reunions/upcoming' ? 'active' : '' %>"
                  href="/reunions/upcoming"
                  >Upcoming Reunion</a
                >
              </li>
              <% if (isAdmin) { %>
              <li class="">
                <a
                  class="<%= path === '/admin/reunions' ? 'active' : '' %>"
                  href="/admin/reunions"
                  >Your Reunions</a
                >
              </li>
              <li class="">
                <a
                  class="<%= path === '/admin/add-reunion' ? 'active' : '' %>"
                  href="/admin/add-reunion"
                  >Add Reunion</a
                >
              </li>
              <% } %> <% } %>
            
              <% if (!isAuthenticated) { %>
              <li class="">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"
                  >Login</a
                >
              </li>
              <% } else { %>
              <hr />
              <li class="">
                SIGNED IN AS: <%= user.email %>
              </li>
              <li class="">
                <form action="/logout" method="post" class="logout-form">
                  <input type="hidden" name="_csrf" value="<%=  csrfToken %>" />
                  <button class='btn btn-primary logout-button' type="submit">Logout</button>
                </form>
              </li>
              <% } %>
            </ul>
            <div class="footer">&copy; 2022 Joshua Lokken</div>
          </div>
        </div>
      </div>
    <script src="/js/nav.js"></script>    
  </nav>
</header>
