<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
          <h1><%= reunion.year %>: <%= reunion.title %></h1>
          <div class="margin-top">
            <img class="image" src="<%= reunion.imageUrls[0] %>" alt="<%= reunion.title %>">
          </div>
          <p><%= reunion.description %></p>
          <button class="btn btn-primary" onClick="history.back()">Back</button>
        </main>
<%- include('../includes/end.ejs') %>