<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/carousel.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>
  <main class="content-container centered">
    <div class="margin-30">
      <h1><%= reunion.year %>: <%= reunion.title %></h1>
    </div>
    
    <div class="margin-30">
      <img class="image" src="/<%= reunion.images[0].path %>" alt="<%= reunion.title %>">
    </div>
    <div class="margin-30 padding-3 description-text">
      <p><%= reunion.description %></p>
    </div>
    <% if (reunion.images.length > 1) { %>
    <%- include('../includes/carousel.ejs') %>
    <% } %>
    <div class="margin-30">
      <button class="btn btn-primary" onClick="history.back()">Back</button>
    </div>
  </main>
<%- include('../includes/end.ejs') %>