<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>
  <div class="backdrop-noimage"></div>
  <main class="reunion-container">
    <% if (errorMessage) { %> 
      <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <div class="reunion-details">
      <div class="reunion-title">
        <h1><%= reunion.year %>: <%= reunion.title %></h1>
      </div>
      <% if (reunion.images) { %>
      <% if (reunion.images.length <= 1) { %>
        <div class="single-image-container">
          <img class="image" src="<%= reunion.images[0] %>" alt="<%= reunion.title %>">
        </div>
      <% } else { %>
      <%- include('../includes/carousel.ejs') %>
      <% } %> 
      <% } %>
      <div class="description-text">
        <p><%= reunion.description %></p>
      </div>
    </div>
    <hr>
    <%- include('../includes/comments.ejs') %>
    <div class="back-button">
      <a class="btn btn-primary" href="/reunions">Back</a>
    </div>
  </main>
<%- include('../includes/end.ejs') %>