<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/reunion.css">
  <link rel="stylesheet" href="/css/carousel.css">
  <link rel="stylesheet" href="/css/comments.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>
  <main>
    <% if (errorMessage) { %> 
      <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <section class="reunion-details">
      <div class="centered content-container">
        <div>
          <div class="margin-30">
            <h1><%= reunion.year %>: <%= reunion.title %></h1>
          </div>
          <% if (reunion.images) { %>
          <% if (reunion.images?.length <= 1) { %>
            <div class="margin-30">
              <img class="image" src="<%= reunion.images[0] %>" alt="<%= reunion.title %>">
            </div>
          <% } else { %>
          <%- include('../includes/carousel.ejs') %>
          <% } %> 
          <% } %>
          <div class="margin-30 padding-3 description-text">
            <p><%= reunion.description %></p>
          </div>
        </div>
      </div>
    </section>
    <hr>
    <%- include('../includes/comments.ejs') %>
    <div class="margin-30 centered">
      <button class="btn btn-primary" onClick="history.back()">Back</button>
    </div>
  </main>
<%- include('../includes/end.ejs') %>